@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

html {
    scrollbar-3dLight-Color: #efefef;
    scrollbar-arrow-color: #dfdfdf;
    scrollbar-base-color: #efefef;
    scrollbar-Face-Color: #dfdfdf;
    scrollbar-Track-Color: #efefef;
    scrollbar-DarkShadow-Color: #efefef;
    scrollbar-Highlight-Color: #efefef;
    scrollbar-Shadow-Color: #efefef;
    -ms-overflow-style: none;
    overflow: auto;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 0px;
}

/* 스크롤바의 width */
::-webkit-scrollbar-track {
    /* background-color: #619ab4; */
}

/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
    /* background: linear-gradient(to bottom, #1697bf, #62b7ac); */
}

/* 스크롤바 색 */
::-webkit-scrollbar-button {
    display: none;
}

body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.0425rem;
    color: #333;
}


/* 공통 클래스 */
.clearfix:after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.wrap {
    position: relative;
    display: block;
    min-width: 152rem;
}

.container {
    position: relative;
    width: 152rem;
    margin: 0 auto;

}

/* 위로가기 */
.gotop {
    position: fixed;
    left: calc(50% + 80rem);
    transform: translateX(-50%);
    bottom: 15rem;
    width: 6rem;
    height: 6rem;
    border: 0;
    background-color: #5d4b63;
    border-radius: 6rem;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
    z-index: 99;
    display: none;
    transition: background-color 0.3s;
}

.gotop:hover {
    background-color: #3D6A65;
}

.gotop img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gotop-active {
    display: block;
}

/* 비주얼 영역 */
.visual {
    position: relative;
    display: block;
    white-space: nowrap;
}

.visual-left {
    position: relative;
    display: block;
    float: left;
    background-color: #3D6A65;
    width: 45%;
    height: 77rem;
}

.visual-tit {
    position: absolute;
    right: 0;
    top: 59%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 5.5rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1rem;
    color: #BAAFBD;
    line-height: 1;
    text-align: center;

}

.visual-tit img {
    margin-top: 8.7rem;
    margin-bottom: 8.7rem;
}

.visual-tit p {
    font-size: 2.1rem;
    font-weight: 300;
}

.visual-right {
    position: relative;
    display: block;
    float: left;
    width: 55%;
    height: 77rem;
    background-color: #333;
}

.visual-img {
    position: relative;
    display: block;
    margin-left: 8rem;
}

.visual-img img {
    height: 77.1rem;
}

/* gnb */
.nav {
    position: relative;
    display: block;
    width: 100%;
    height: 9rem;
    background-color: rgba(185, 175, 188, 0.97);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
    z-index: 9999;
    margin: 0 auto;
}

.nav .container {
    height: 9rem;
}

.nav-fix {
    position: fixed;
    left: 0;
    top: 0;
}

.menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 76%;
}




.menu li {
    position: relative;
    display: block;
    float: left;
    margin-right: 5rem;

    text-align: center;
}

.menu>li:last-child {
    margin-right: 0;
}

.menu li a {
    position: relative;
    display: block;
    float: left;
    font-size: 2.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.2;
    letter-spacing: 0.0425rem;
    text-transform: uppercase;
}

.menu li a:hover {
    text-decoration: underline;
}



/* 프로필 영역 */
.profile {
    position: relative;
    display: block;
    width: 100%;
    height: 84rem;
    background-color: #E9E2E7;
    padding-top: 1rem;
}

.profile-fix {
    padding-top: 9rem;
}

.profile .container {
    margin-top: 17rem;
}

.tit {
    position: absolute;
    /* left: 19.5rem; */
    left: 0;
    /* top: 10rem; */
    top: 0;
    display: block;
    font-size: 4.4rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1;
    letter-spacing: 0.012rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.tit-fix {
    padding-top: 9rem;
}

.profile .tit {
    top: -5rem;
}

.profile-1 {
    position: relative;
    display: block;
    float: left;
    width: 33%;
}

.profile-1-top {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
}

.profile-1-bottom {
    position: relative;
    display: block;
    width: 100%;
    height: 10rem;
}

.profile-1-bottom span {
    position: relative;
    float: left;
    display: block;
    width: 0.2rem;
    height: 100%;
    background-color: #5d4b63;
    margin-right: 1rem;
}

.profile-1-bottom p {
    position: relative;
    float: left;
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
    line-height: 1.35;
    letter-spacing: -0.0425rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.profile-2 {
    padding-left: 10rem;
    position: relative;
    display: block;
    float: left;
    width: 33%;
}

/* 수정 후 삭제 */
.profile-2 img {
    position: absolute;
    left: 30%;
    top: 0;
}

.profile-txt {
    position: relative;
    display: block;
    width: 100%;
    height: 32%;
    margin-bottom: 15%;
}

.profile-txt:last-child {
    margin-bottom: 0;
}

.profile-txt p {
    position: relative;
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
    line-height: 1.5;
    letter-spacing: -0.0425rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.profile-txt span {
    position: relative;
    display: block;
    font-size: 2.1rem;
    font-weight: 200;
    color: #333;
    line-height: 1.3;
    letter-spacing: -0.0425rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 1.5rem;
}


.profile-3 {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 370px;
    height: 100%;
}


.skill-list {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.skill-list li {
    position: relative;
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 4rem;
}

.skill {
    position: relative;
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}

.skill-list span {
    position: relative;
    display: block;
    width: 80%;
    height: 0.2rem;
    background-color: #b9b9b9;
    margin: 0 auto;
    margin-top: 1.7rem;
}

.skill-list p {
    position: relative;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    color: #333;
    letter-spacing: -0.0425rem;
    line-height: 2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.skill-plus {
    margin-top: 3rem;
}

.skill-list p:last-child {
    line-height: 1.2;
    margin-top: 0.5rem;
}

/* possibilty 영역 */
.possi {
    position: relative;
    display: block;
    background-color: #E9E2E7;
    width: 100%;
    height: 100rem;
    padding-top: 7rem;
}

.possi .container {}

.possi-sub-tit {
    position: relative;
    display: block;
    font-size: 3.3rem;
    font-weight: 400;
    color: #333;
    letter-spacing: -0.25rem;
    line-height: 1;
    padding-top: 5rem;
    margin-bottom: 6.5rem;
}

.possi-box {
    position: relative;
    display: block;
    width: 100%;
    height: 18rem;
    float: left;

}

.possi-icon {
    position: relative;
    display: block;
    width: 18rem;
    height: 18rem;
    background-color: #cecbda;
    border: 0.1rem solid #cecbda;
    border-radius: 18rem;
    float: left;
}

.possi-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 9.5rem;
    color: #fff;
}

.possi-txt {
    position: absolute;
    left: 22rem;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.possi-box p {
    position: relative;
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
    letter-spacing: -0.0425rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.possi-box span {
    position: relative;
    display: block;
    font-size: 2.1rem;
    font-weight: 200;
    color: #333;
    line-height: 1.1;
    letter-spacing: -0.0425rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.possi-box-left {
    position: relative;
    display: block;
    width: 100%;
    height: 18rem;
    float: left;
    margin: 3.2rem 0;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.6);
}

.possi-txt-left {
    position: absolute;
    right: 22rem;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: 3.2rem 0;
}

.possi-box-left p {
    position: relative;
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
    letter-spacing: -0.0425rem;
    font-family: 'Noto Sans KR', sans-serif;
    text-align-last: right;
}

.possi-box-left span {
    position: relative;
    display: block;
    font-size: 2.1rem;
    font-weight: 200;
    color: #333;
    line-height: 1.1;
    letter-spacing: -0.0425rem;
    font-family: 'Noto Sans KR', sans-serif;
    text-align-last: right;
}

.possi-icon-left {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 18rem;
    height: 18rem;
    background-color: #cecbda;
    border: 0.1rem solid #cecbda;
    border-radius: 18rem;
    margin-top: 3.2rem;
}

.possi-icon-left i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 9.5rem;
    color: #fff;
}

.possi-3 {
    margin-top: 3.2rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.6);
}

.possi-3 .possi-icon {
    margin-top: 3.2rem;
}

.possi-3 .possi-txt {
    margin-top: 3.2rem;
}


.rede-id {
    position: absolute;
    left: 0;
    bottom: 9rem;
    display: block;
}

/* 리디자인 영역 */
.redesign {
    position: relative;
    display: block;
    background-color: #CDCBD9;
    padding-top: 2.5rem;
    padding-bottom: 15rem;
}

.rede-wrap {
    position: relative;
    display: block;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cdcbd9+35,b9afbc+35 */
    background: #cdcbd9;
    /* Old browsers */
    background: -moz-linear-gradient(left, #cdcbd9 35%, #b9afbc 35%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #cdcbd9 35%, #b9afbc 35%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #cdcbd9 35%, #b9afbc 35%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdcbd9', endColorstr='#b9afbc', GradientType=1);
    /* IE6-9 */


}

.rede-wrap .container {
    margin-top: 6rem;
}

.redesign .tit {
    /* position: absolute;
    top: 0;
    left: 0;
    display: block; */
}

.rede-left {
    position: relative;
    float: left;
    display: block;
    width: 49rem;
    height: 63rem;
}

.rede-cont-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.rede-cont-box h2 {
    font-size: 3.4rem;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.025;
    line-height: 1;
    margin-top: 13rem;
    margin-bottom: 2rem;
}

.rede-cont-box p {
    font-size: 1.9rem;
    font-weight: 400;
    color: #333;
    letter-spacing: 0.025;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.rede-line-1 {
    position: absolute;
    right: 0;
    bottom: 18.6rem;
    display: block;
    width: 25rem;
    border-bottom: 0.2rem solid #b9afbc;
}

.rede-process-bt {
    position: absolute;
    left: 0;
    bottom: 16rem;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.025;
    line-height: 5.2rem;
    border: 0.1rem solid #3D6A65;
    background-color: #3D6A65;
    padding: 0 8.5rem;
    transition: background-color 0.5s;
}

.rede-process-bt:hover {
    background-color: #5d4b63;
}

.rede-line-2 {
    position: absolute;
    right: 0;
    bottom: 12.6rem;
    display: block;
    width: 25rem;
    border-bottom: 0.2rem solid #b9afbc;
}

.rede-work-bt {
    position: absolute;
    left: 7rem;
    bottom: 10rem;
    font-size: 2rem;
    font-weight: 400;
    color: #3D6A65;
    letter-spacing: 0.025;
    line-height: 5.2rem;
    border: 0.1rem solid #dbd8e8;
    background-color: #dbd8e8;
    padding: 0 10rem;
    transition: background-color 0.5s;
}

.rede-work-bt:hover {
    background-color: #5d4b63;
    color: #fff;
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.rede-right {
    position: relative;
    float: left;
    display: block;
    width: 103rem;
    height: 63rem;
    background-color: #b9afbc;
}

.sw-rede {}

.sw-rede-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.sw-rede-up-bt {
    position: absolute;
    left: 0;
    top: 0.5rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    z-index: 999;
    cursor: pointer;
}

.sw-rede-down-bt {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    z-index: 999;
    cursor: pointer;
}

.rede-right img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* 퍼블리싱 영역 */
.publ {
    position: relative;
    display: block;
    background-color: #cecbda;
    padding-top: 5.5rem;
}

#publ {
    position: relative;
    left: 0;
    top: -15rem;
    display: inline-block;
}

.publ-wrap {
    position: relative;
    display: block;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b9afbc+75,cdcbd9+75,cdcbd9+75 */
    /* background: #b9afbc; */
    /* Old browsers */
    /* background: -moz-linear-gradient(left, #b9afbc 67%, #cdcbd9 67%, #cdcbd9 67%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(left, #b9afbc 67%, #cdcbd9 67%, #cdcbd9 67%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to right, #b9afbc 67%, #cdcbd9 67%, #cdcbd9 67%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9afbc', endColorstr='#cdcbd9', GradientType=1); */
    /* IE6-9 */
    height: 78rem;
}

/* 수정 */
.publ-tit {
    position: absolute;
    left: 19.5rem;
    top: 0;
    display: block;
    font-size: 4.4rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1;
    letter-spacing: 0.012rem;
    text-transform: uppercase;
    margin-bottom: 3rem;

}

.publ-wrap .container {
    padding: 6rem 0;
    height: 100%;
}


.publ-up-bt {
    position: absolute;
    right: 30%;
    /* left: 0; */
    /* top: 0.5rem; */
    top: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);

    z-index: 999;
    cursor: pointer;
}


.publ-down-bt {
    position: absolute;
    right: 30%;
    /* left: 0; */
    /* bottom: 0.5rem; */
    bottom: 2.5rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    padding-top: 5.2rem;
    z-index: 999;
    cursor: pointer;
}

.swiper-button-next:after {
    display: none;
}

.swiper-button-prev:after {
    display: none;
}

.publ-slide {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.publ-box-1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    height: 20rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.publ-box-left {
    position: relative;
    float: left;
    display: block;
    width: 71.3%;
}

.publ-box-left>img {
    width: 100%;
    height: 100%;
}

.publ-box-right {
    position: relative;
    float: left;
    display: block;
    width: 28.7%;
    height: 100%;
}

.publ-txt {
    font-size: 1.9rem;
    font-weight: 400;
    color: #333;
    letter-spacing: 0.0425;
    line-height: 1;
    padding-top: 3.6rem;
}

.publ-txt-1 {
    position: relative;
    width: 50%;
    float: left;
    text-align: end;
    padding-right: 1rem;
}

.publ-txt-2 {
    position: relative;
    width: 50%;
    float: left;
    padding-left: 1rem;
}

.publ-txt p {
    margin-bottom: 1.2rem;
}

.publ-txt b {
    font-weight: 600;
}

.publ-bt {
    position: relative;
    display: block;
    text-align: center;
    padding-top: 3.2rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.0425;
    line-height: 1;
}

.publ-process-bt {
    padding: 1.3rem 3.8rem;
    background-color: #3D6A65;
    border-radius: 0.5rem;
    color: #fff;
}

.publ-git-bt {
    padding: 1.3rem 3.3rem;
    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 0.5rem;
    color: #3D6A65;
}

.publ-work-bt {
    padding: 1.3rem 3.6rem;
    background-color: #3D6A65;
    border-radius: 0.5rem;
    color: #fff;
}

.publ-process-bt:hover,
.publ-work-bt:hover {
    background-color: #5d4b63;
}

.publ-git-bt:hover {
    background-color: #5d4b63;
    color: #fff;
}



/* 기타 영역 */
.others {
    position: relative;
    display: block;
    background-color: #e8e2e6;

    height: 130rem;
    padding-top: 15rem;
}

.others .tit {
    top: -5rem;
}

.others .container {}

.potho-wrap {
    height: 77rem;
    overflow: hidden;
}

.others-left {
    position: relative;
    float: left;
    display: block;
    width: 114rem;
    height: 100%;
}

.others-main {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.others-main-box {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.others-main-box img {
    height: 100%;
}

.others-right {
    position: relative;
    float: right;
    display: block;
    width: 36rem;
    height: 100%;
}


.others-box {
    position: relative;
    display: block;
    width: 37rem;
    cursor: pointer;
}

.others-box img {
    width: 100%;
    height: 100%;
}

.sw-others .swiper-pagination {
    display: none;
}

.others-video {
    position: relative;
    display: block;
    width: 100%;
    height: 27.8rem;
    margin-top: 1rem;
}

.others-video-link {
    position: relative;
    display: block;
    float: left;
    width: 33%;
    height: 100%;
    margin-right: 0.5%;
    cursor: pointer;
}

.video-1 {
    background: url('../images/video-1.jpg') no-repeat;
    background-size: cover;
}

.video-2 {
    background: url('../images/video-2.jpg') no-repeat;
    background-size: cover;
}

.video-3 {
    background: url('../images/video-3.jpg') no-repeat;
    background-size: cover;
}


.others-video-link:last-child {
    margin-right: 0;
}

.others-video-link a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}


/* 라이프 영역 */
.life {
    position: relative;
    display: block;
    background-color: #d2d7db;
}

.life .container {
    height: 70rem;
}

.life .tit {
    top: 10rem;
}

.life-box {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    height: 100%;
}

.life-img-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 80.4%;
    background: url('../images/life-1.jpg')no-repeat center;
}

.life-img-2 {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 80.4%;
    overflow: hidden;
}

.life-img-2 img {
    width: 100%;
}

.life-img-3 {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 80.4%;
    background: url('../images/life-3.jpg')no-repeat center;
}

.life-img-4 {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 80.4%;
    background: url('../images/life-4.jpg')no-repeat center;
}

.life-box {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: #333;
    letter-spacing: -0.0425rem;
    line-height: 1.3;
    font-family: 'Noto Sans KR', sans-serif;
    white-space: nowrap;
    text-align: center;
}

.life-txt-top {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.life-txt-bot-1 {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}

.life-txt-bot-2 {
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -50%);
}

.life-txt-bot-2 i {
    color: #5d4b63;
}



/* 하단 영역 */
.footer {
    position: relative;
    display: block;
    background-color: #e8e2e6;
    height: 88rem;
}

.footer>h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20rem;
    font-size: 6rem;
    letter-spacing: -0.047rem;
}

.footer-txt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 31rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: -0.017rem;
    font-family: 'Roboto', sans-serif;
}

.footer-download {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 46rem;
    border: 0.1rem solid #3D6A65;
    background-color: #3D6A65;
    border-radius: 0.5rem;
    padding: 1.8rem 12.6rem;
}

.footer-download a {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    letter-spacing: 0.0425;
    font-family: 'Roboto', sans-serif;
}